body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}


.form {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    flex: 1;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aprovado {
    color: green;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.form {
        flex-direction: column;
        margin: 15px;
        gap: 10px;
    }
}